body {
    background-color: rgb(37, 31, 13);
    
}
h1 {
    color: rgb(113, 19, 201);
    text-align: center; 
}

h2 {
    color: rgb(211, 18, 60);
    text-align: center;
}
ul{
    color:white;
}
